name: UMS API tests

on:
  push:
    branches:
      - '**'
      - '!master'
  pull_request_target:

jobs:
  build:
    if: |
      (github.event_name == 'push' && github.actor != 'dependabot[bot]') ||
      (github.event_name == 'pull_request_target' && github.actor == 'dependabot[bot]')

    runs-on: ubuntu-latest

    env:
      IMDB_API_KEY: ${{ secrets.IMDB_API_KEY }}
      OS_API_USERAGENT: ${{ secrets. OS_API_USERAGENT }}

    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: '**/node_modules'
        key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
    - name: Use Node.js 16
      uses: actions/setup-node@v2
      with:
        node-version: '16'
    - run: yarn install
    - run: yarn run tsc:ci
    - run: yarn lint
    - run: yarn test
