name: UMS API tests

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    env:
      IMDB_API_KEY: ${{ secrets.IMDB_API_KEY }}

    strategy:
      matrix:
        node-version: [14]

    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: '**/node_modules'
        key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - run: yarn install
    - run: node_modules/.bin/eslint src/**/*.ts
    - run: yarn test

