name: UMS API tests

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    env:
      IMDB_API_KEY: ${{ secrets.IMDB_API_KEY }}
      OS_API_USERAGENT: ${{ secrets. OS_API_USERAGENT }}

    strategy:
      matrix:
        node-version: [14]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - run: yarn install
    - run: yarn run tsc:ci
    - run: node_modules/.bin/eslint src/**/*.ts
    - run: yarn test

